.parrafosModal{
  left: 12.7%;
  right: 12.7%;
  top: 82.25%;
  bottom: 9.84%;
  text-align: center;
  color: #6A6969;
}

.recoger{
  left: 53.91%;
  right: 14.48%;
  top: 69.27%;
  bottom: 26.88%;

  text-align: center;

  color: #AAAAAA;
}
.delivery{

  left: 16.25%;
  right: 55.68%;
  top: 69.27%;
  bottom: 26.88%;
  text-align: center;

  color: #AAAAAA;
}

#titulos{
  position: absolute;
  left: 0%;
  right: 0%;
  top: 4.08%;
  bottom: 4.08%;
  text-align: center;
  color: #000000;
  flex: none;
  order: 0;
  align-self: flex-start;
  flex-grow: 0;
  margin: 0px 10px;
}

.contenedor-modal-delivery
  {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .mapaC{
    width: 100%;
    height: 100%;
    margin: -46px 0px 0px 0px;
  }

  .btn-volver{
    float: left;
  }

  .btn-continuar{
    float: right;
  }
  .metodo-pago-modalidad-entrega{
    text-align: left;
  }
