#btnIrAlCarrito {
  background-color: #e52822 !important;
  border-radius: 10px;
  font-weight: bold;
}
#btnSeguirOrdenando {
  background: #e5e7eb;
  border-radius: 10px;
  color: black;
  font-weight: bold;
}
.modal-content-confirmacion {
  border-radius: 14px !important;
  padding: 10px;
}
.modal-body {
  font-weight: bold;
  text-align: center;
}

.modal-header {
  border-bottom: none !important;
}

.modal-footer {
  border-top: none !important;
}
.link-navigation {
  width: 100%;
  margin: 0 !important;
}
