
.cuenta{
      /* Crea tu cuenta */


    position: static;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 46px;
    /* identical to box height, or 121% */


    color: #000000;


    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 8px;
}
.generales{
    /* Datos generales */


  position: static;
  width: 140px;
  height: 28px;
  left: 0px;
  top: 0px;

  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  /* identical to box height, or 140% */


  color: #AE1D19;


  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
}
.texto{
  position: static;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  /* or 163% */


  color: #919191;


  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
}

@media only screen and (max-width: 600px) {
  .texto{
    position: static;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    /* or 163% */


    color: #919191;


    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin-top: 20px;
  }
}
