.contenido-detalle-direccion {
  color: #7c7c7c !important;
}
.boton-editar {
  background-color: #e6a601;
  width: 32px;
  height: 32px;
  margin: 0px;
  border: none;
}

.boton-editar:hover {
  opacity: 0.5;
}

.error {
  font-weight: 300;
  color: #ae1d19;
  margin-left: 15px;
}
