.menusImg {
  right: 50%;
  width: 50%;
  min-width: 179.33px;
  height: 150px;
  border-radius: 15px 0px 0px 15px;
}

@media screen only and (max-width: 600px) {
  .menusimg: 0px !important;
}
.contentMenus {
  text-align: left;
  font-size: 15px;
  width: 51%;
  float: right;
  height: 100%;
  display: inline-block;
  position: absolute;
  left: 51%;
  padding: 12px;
  color: black;

}


.cardSubMenu {
  background: #f5f4f4 !important;
  height: auto;
  border-radius: 15px !important;
  max-width: 475px;
  cursor: pointer;
  min-width: 340px !important;

}

.precioSubMenu {
  display: block;
  font-size: 15px;
  font-weight: bold;
  color: #ae1d19;
  bottom: 7px;
  position: absolute;
}
.leer-mas {
  text-decoration: underline;
}

.contenedor-animado-card-sub-menu {
  width: 90%;
}


@media only screen and (max-width: 375px) {
  
.cardSubMenu {

  min-width: 240px !important;
  height: 15rem;

}
.menusImg {
  width: 100%;
  border-radius: 15px 15px 0px 0px;
  height: 10rem;


}
.contentMenus {
  text-align: left;
  font-size: 15px;
  width: 100%;
  display: contents;

}
}
