.menusImg{
  object-fit: cover;
  right: 50%;
  width: 50%;
  height: 200px;
  border-radius: 15px 0px 0px 15px;
}

@media screen only and (max-width:600px){
  .menusImg:0px !important;
}
.nombreMenu {
  font-size: 20px;
  text-align: center;
  margin-top: 30px;
}

.contentMenus{
  text-align: center;
  font-size: 15px;
  width: 51%;
  float: right;
  height: 100%;
  display: inline-block;
  position: absolute;
  left: 50%;
  padding: 12px;
}

.cardSubMenu{
  background: #F5F4F4 !important;
  height: 200px;
  border-radius: 15px !important;
  max-width: 420px
}

.precioSubMenu{
  display: block;
  font-size: 15px;
  font-weight: bold;
  color:#AE1D19;
  top: 7px;
  position: absolute;
}
.leer-mas{
  text-decoration: none;
}
.leer-mas:hover {
  color: black;
}

.buttonOrder{
  background: #AE1D19;
  color: white;
  border-radius: 5px 5px 5px 5px;
  border: none;
  padding: 10px 20px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}
.order {
  display: block;
  font-size: 15px;
  margin-top: 20px;
  font-weight: bold;
  color:#AE1D19;
}

