.tabla-producto-revision {
  border-radius: 20px !important;
}

.celda-producto-revision > .cantidades-producto-revision.precio {
  background-color: #e6a601 !important;
}

.celda-producto-revision {
  font-size: 18px !important;
}

.celda-producto-revision {
  vertical-align: middle !important;
}
